@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Neonderthaw&family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: rgb(255, 248, 218);
}

h1 {
  font-family: 'Neonderthaw', cursive;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-family: 'Libre Baskerville', serif;
}
p {
  font-family: 'Work Sans', sans-serif;
}

img {
  border-radius: 1em;
}
